$large-mobile: 768px;
$color-jm-blue: #25b2cd;
$color-jm-white: #ffffff;

$header-font-weight: 700;
$header-font-size-desktop: 36px;
$header-font-size-mobile: 25px;
$text-font-size-desktop: 19px;
$text-font-size-mobile: 15px;

@font-face {
    font-family: Radnika;
    src: url('../assets/fonts/Radnika-Medium.otf');
}
