@import './utils/variables.scss';

html {
    height: 100%;
    max-width: 100%;
    overflow-x: hidden;
}
body {
    margin: 0;
    padding: 1%;
    box-sizing: border-box;
    font-family: Radnika, Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
    color: $color-jm-white;
    background: $color-jm-blue;
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    max-width: 100%;
    overflow-x: hidden;

    h1 {
        font-weight: $header-font-weight;
        font-size: $header-font-size-desktop;
    }

    p {
        font-size: $text-font-size-desktop;
    }
    a,
    u {
        text-decoration: none;
        color: inherit;
        font-weight: bold;
    }
}
